:root {
    h1 {
        font-size: 3.25em;
    }
    h3 {
        font-size: 2.5em;
        text-decoration-line: underline;
    }
}

.bld {
    font-weight: bold;
}

.itl {
    font-style: italic;
}

.logo {
    height: 3em;
    width: 3em;
    background-color: transparent;
}

.title {
    font-size: 1.6em;
}

.edu-title {
    font-size: 1.65em;
}

.sect-title {
    font-size: 1.75em;
}

.sub-title {
    font-size: .7em;
}

.tech-title {
    display: inline;
    font-size: 1.8em;
    font-weight: 500;
}
